<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="navbar navbar-light bg-light" th:fragment="navBar">
    <div class="container-fluid">
        <a href="/home" class="navbar-brand fs-3 fw-semibold">Libra</a>

        <ul class="nav">
            <li class="nav-item me-3 align-self-center">
                <span th:text="${userLogin}">guest</span> <!--TODO: print username after authorizing-->
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link d-flex align-items-center">
                    <i class="bi bi-box-arrow-left me-2"></i>
                    Logout <!--TODO: Logout logic-->
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>